/* Style của các mục tiêu đề */
main .title-text {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 14px;
    color: red;
}

/* Nội dung các trường thông tin + các mục */
.row-data span,
.row-avatar span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}

/* Tên các mục */
.row-data strong,
.row-avatar strong {
    font-style: italic;
    font-weight: normal;
}

/* Button để chỉnh sửa bên cạnh */
section .edit-button {
    background-origin: content-box;
    margin-left: 10px;
    visibility: visible !important;
}

/* Bóng đổ cho ảnh */
#avatar img {
    box-shadow: 9px 9px 11px 5px #7776;
    margin-bottom: 5px;
}